.wrapper {
    width: 100%;  
    max-width: 100%;
    margin: 0 auto;  
}

.main {
    width: 100%;
    max-width: 46rem;
    height: 100%;
    margin: 0 auto;
} 

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin-top: -1.75rem;
}

.form textarea {
    flex: 1;
    height: 3.375rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--gray500);
    border: 1px solid var(--gray700);
    color: var(--gray300);
    box-sizing: border-box;
    resize: none;
}

.form button {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem;
    width: 5.625rem;
    height: 3.25rem;
    background-color: var(--blue-dark);
    border-radius: 8px;
    border: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--gray100);
}

.taskList {
    flex: 1;
    margin-top: 4rem;
}

.taskListHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.taskListHeaderLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.taskListHeaderLeftText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.0526rem;
    color: var(--blue);
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.125rem 0.5rem;
    gap: 0.625rem;
    width: 1.5625rem;
    height: 1.1875rem;
    background: var(--gray400);
    border-radius: 62.4375rem;   

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: var(--gray200);
}

.taskListHeaderRight {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.taskListHeaderRightText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.0526rem;
    color: var(--purple);
}

.taskListEmptyContent {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1.5rem;
    gap: 0.6rem;
    width: 46rem;
    height: 15.25rem;
    border-top: 1px solid var(--gray400);
    border-radius: 8px;
}

.taskListEmptyContentTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: var(--gray300);
}

.taskListEmptyContentSubtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: var(--gray300);
}